language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
env:
  - PIP_DJANGO='Django>=1.5,<1.6'
  - PIP_DJANGO='https://github.com/django/django/archive/master.tar.gz'
install:
  - "pip install $PIP_DJANGO"
  - "pip install pyyaml coveralls"
  - "pip install -e ."
matrix:
  exclude:
    - python: "2.6"
      env: PIP_DJANGO='https://github.com/django/django/archive/master.tar.gz'
script:
  coverage run runtests.py
after_success:
  coveralls
