name: django-typed-models tests
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.6"
          - "3.9"
        django-version:
          - "3.1"
          - "3.2"
          - "4.0"
          - "4.1"

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies (django ${{ matrix.django-version }})
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pyyaml coveralls pytest-django django==${{ matrix.django-version }}.*
          pip install -e .
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      - name: Test with pytest
        run: |
          coverage run $(which pytest) --ds=test_settings typedmodels/tests.py
